@media (max-width: 1440px)
    .container
        width: 900px !important
    .greetings
        &__main
            padding-top: 80px !important
@media (max-width: 1200px)
    .container
        width: 900px !important
    .greetings
        &__main
            padding-left: 100px !important
            padding-top: 7% !important
@media (max-width: 1024px)
    .container
        width: 700px !important
    .greetings
        &__main
            padding-left: 50px !important
            width: 600px !important
        &__header
            font-size: 45px !important
            line-height: 56px !important
            &_back
                width: 560px !important
                height: 135px !important
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 40% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important
@media (max-width: 768px)
    .container
        max-width: 100% !important
    .greetings
        &__main
            width: 420px !important
        &__header
            font-size: 32px !important
            line-height: 42px !important
            &_back
                width: 410px !important
                height: 105px !important
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 40% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important
    .menu
        &__block
            width: 260px !important
        &__link
            font-weight: 700 !important
            font-size: 24px !important
            line-height: 36px !important
            color: #FFFFFF !important
            margin-bottom: 30px !important
@media (max-width: 660px)
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 35% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important
@media (max-width: 500px)
    .greetings
        &__main
            width: 385px !important
        &__header
            padding-top: 5px !important
            font-size: 26px !important
            line-height: 36px !important
            &_back
                width: 340px !important
                height: 80px !important
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 30% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important

@media (max-width: 425px)
    .container
        width: 100% !important
    .greetings
        &__main
            padding-left: 10px !important
            width: 330px !important
        &__header
            padding-top: 5px !important
            font-size: 23px !important
            line-height: 36px !important
            &_back
                width: 300px !important
                height: 80px !important
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 24% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important
@media (max-width: 375px)
    .container
        width: 100% !important
    .greetings
        &__main
            margin-right: 0px !important
            padding-left: 30px !important
            width: 280px !important
        &__header
            padding-left: 5px !important
            padding-top: 7px !important
            font-size: 20px !important
            line-height: 34px !important
            &_back
                width: 260px !important
                height: 80px !important
        &__btns
            margin-top: 22px !important
            display: flex !important
            width: 250px !important
            justify-content: space-between !important
            align-items: center !important
    .sidepanel
        position: absolute !important
        top: 90% !important
        left: 18% !important
        width: 200px !important
        height: 50px !important
        display: flex !important
        flex-direction: row !important
        justify-content: space-between !important