@media (max-width: 1440px)
    .container
        max-width: 1200px !important
    .skills
        &__title
            margin-left: 470px !important
        &__subtitle
            margin-left: 160px !important
        &__wrapper
            margin-left: -50px !important
@media (max-width: 1200px)
    .container
        max-width: 960px !important
        .skills
            &__wrapper
                margin: 50px 0 0 0 !important
                padding-bottom: 100px !important
                grid-template-columns: repeat(3,270px)
                grid-template-rows: repeat(2,270px)
            &__title
                margin-left: 380px !important
            &__subtitle
                margin-left: 0px !important
@media (max-width: 1024px)
    .container
        max-width: 760px !important
        .skills
            &__wrapper
                max-width: 570px
                grid-template-columns: repeat(2,270px)
                margin: 0 auto !important
            &__title
                margin-left: 300px !important
@media (max-width: 768px)
    .skills
        margin-top: 300px !important
    .container
        max-width: 100% !important
        .skills
            &__wrapper
                grid-template-columns: 270px
                width: 300px !important
                margin-left: 50px !important
            &__title
                margin-left: 130px !important
            &__subtitle
                margin-left: -10px !important
@media (max-width: 425px)
    .container
        max-width: 100%!important
        padding: 0 10px !important
@media (max-width: 375px)
    .container
        max-width: 100% !important
        padding: 0 10px !important
    .skills
        &__wrapper
            margin: 0 !important