@media (max-width: 1440px)
    .container
        width: 1020px !important
        padding: 0 !important   
    .contacts
        &__wrapper
            padding: 0 !important
@media (max-width: 1200px)
    .container
        width: 900px !important
    .contacts
        padding: 180px 0 35 0 !important
        &__wrapper
            grid-template-columns: 600px 686px !important
            margin-left: 135px !important
        &__photo
            display: none
            img
                width: 100% !important
                height: 100% !important
@media (max-width: 1024px)
    .container
        max-width: 700px !important
    .contacts
        padding-top: 100px !important
        &__wrapper
            margin-left: 5px !important
@media (max-width: 768px)
    .container
        max-width: 100% !important
    .contacts
        padding-left: 20px !important
        &__text
            width: 380px !important
        &__textarea
            textarea
                width: 370px !important
        &__input
            input
                width: 170px !important
        &__form
            grid-template-columns: repeat(2,180px) !important
        &__triggers
            grid-template-columns: 280px 100px !important
@media (max-width: 425px)
    .container
        width: 100% !important
    .contacts
        padding-top: 750px !important
        padding-left: 50px !important
        label#check-error.error
            z-index: 10
            position: absolute
            top: 564px
            left: 805px
            background-color: #fff
        &__text
            width: 290px !important
            &__subtitle
                font-size: 25px !important
        &__textarea
            textarea
                width: 280px !important
        &__input
            input
                width: 120px !important
        &__form
            grid-template-columns: repeat(2, 120px) !important
            justify-content: space-evenly !important
            margin-left: -20px !important
        &__triggers
            grid-template-columns: 140px 150px !important
        &__policy
            margin-left: 20px !important
.btn
    width: 140px !important

@media (max-width: 370px)
    .container
        width: 100% !important
    .contacts
        padding-top: 800px !important
        padding-left: 10px !important
        label#check-error.error
            z-index: 10
            position: absolute
            top: 564px
            left: 805px
            background-color: #fff
        &__text
            width: 290px !important
            &__subtitle
                font-size: 25px !important
        &__textarea
            textarea
                width: 280px !important
        &__input
            input
                width: 120px !important
        &__form
            grid-template-columns: repeat(2, 120px) !important
            justify-content: space-evenly !important
        &__triggers
            grid-template-columns: 140px 150px !important
        &__policy
            margin-left: 20px !important
.btn
    width: 140px !important
