.about {
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        height: 120vh; 
    }
    .wrapper {
        margin: 40px 0;
        .text {
            font-family: Victor Mono;
            font-size: 18px;
            text-align: right;
            @media screen and (max-width: 768px) {
                font-size: 12px;   
            }
        }
        h3 {
            font-size: 38px;
        }
        span {
            font-size: 18px;
            font-weight: 600;
            font-family: Victor Mono;
        }
        p {
            font-size: 12px;
            font-family: Victor Mono;
        }
        .col-md-11 {
            text-align: right;
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
    }
    .separator {
        left: 85%;
    }
}