@media (max-width: 991px)
    .header
        padding: 0 25px 0 25px
    .promo
        &__wrapper
            padding: 0 25px 0 0
    .advantages
        &__item
            padding: 0 25px 0 25px
            display: flex
            justify-content: space-between
    .consultation
        &__header
            text-align: center
        &__subheader
            display: block !important
            margin: 0 auto
            text-align: center
        .feed-form
            margin: 0 auto
    .carousel
        .slick-dots
            display: block
            list-style-type: none
            text-align: center
            li
                display: inline
                button
                    background-color: $main-color
                    border: none
                    margin-right: 10px
                    margin-top: 10px
                    border-radius: 100%
                    width: 25px
                    height: 25px
                    color: rgba(0, 0, 0, 0)
@media (max-width: 765px)
    .header
        &__info
            display: none
        &__contacts
            display: none !important
        &__logo
            display: block
            margin: 0 auto
    .promo
        &__wrapper
            display: flex !important
            flex-direction: column !important
            align-items: center !important
            padding: 0
    .advantages
        &__wrapper
            display: flex
            align-items: center
            flex-direction: column
        &__item
            max-width: none !important
        &__text
            margin-bottom: 30px
    .carousel
        .slick-dots
            display: block
            list-style-type: none
            text-align: center
            li
                display: inline
                button
                    background-color: $main-color
                    border: none
                    margin-right: 10px
                    margin-top: 10px
                    border-radius: 100%
                    width: 15px
                    height: 15px
                    color: rgba(0, 0, 0, 0)
                #slick-slide-control00, #slick-slide-control01, #slick-slide-control02
                    width: 25px
                    height: 25px
        .slick-slide
            width: 700px !important
            img
                width: 500px !important
                margin: 0 auto !important
        &__wrapper
            width: 700px !important
    .catalog
        width: 750px
        margin: 0 auto
        &__content
            &_active
                display: flex !important
                justify-content: space-around !important
    .review
        &__wrapper
            padding: 0 20px 0 20px
    .footer
        &__info
            width: 300px !important
            height: 200px !important
        &__adress
            font-size: 20px !important
            margin-top: 20px !important
        &__links
            width: 200px
            margin: 0 auto
            img
                width: 30px
@media (max-width: 575px)
    .promo
        &__header
            display: block
            width: 300px !important
            font-size: 35px !important
            text-align: center
        &__subheader
            width: 350px !important
            font-size: 25px !important
            text-align: center
        &__items
            width: 300px !important
    .consultation
        &__header
            display: block
            margin: 0 auto
            width: 300px
            margin-top: -30px
            margin-bottom: 50px !important
            text-align: center !important
            font-size: 30px !important
            line-height: 40px !important
    .carousel
        .slick-dots
            display: block
            list-style-type: none
            text-align: center
            padding: 0
            li
                display: inline
                button
                    background-color: $main-color
                    border: none
                    margin-right: 10px
                    margin-top: 10px
                    border-radius: 100%
                    width: 15px
                    height: 15px
                    color: rgba(0, 0, 0, 0)
                #slick-slide-control00, #slick-slide-control01, #slick-slide-control02
                    width: 25px
                    height: 25px
        .slick-slide
            width: 530px !important
            img
                width: 400px !important
                margin: 0 65px !important
        &__wrapper
            width: 530px !important
    .catalog
        width: 550px
        margin: 0 auto
        &__tab
            div
                font-weight: 600
                font-size: 12px !important
    .catalog-item
        position: relative !important
        width: 260px !important
        &__img
            display: block !important
            width: 100px !important
            height: 140px !important
            margin: 0 auto !important
            img
                width: 100%
        &__subtitle
            font-weight: 700
            margin-top: 15px
            font-size: 13px !important
            text-align: center
            color: #0D0D0D
        &__descr
            margin-top: 5px !important
            font-weight: 500
            font-size: 12px !important
            line-height: 22px
            text-align: center
            color: #0D0D0D
        &__link
            margin-top: 10px
            display: block
            font-weight: 500
            font-size: 14px
            line-height: 14px
            text-align: center
            text-decoration-line: underline
            color: $main-color
            &:hover
                color: $main-color
        hr
            margin-top: -60px
            width: 220px !important
            height: 1px
            background: #E8E8E8
        &__footer
            display: flex
            justify-content: space-between
            align-items: center
        &__old-price
            font-weight: 300
            font-size: 14px
            line-height: 14px
            text-decoration-line: line-through
            color: #555555
        &__price
            font-weight: 700
            font-size: 20px
            line-height: 20px
            color: #050505
        &__btn  
            width: 135px
            height: 44px
            background: #C70101
            border-radius: 5px
            border: none
            font-weight: 500
            font-size: 14px
            line-height: 22px
            text-align: center
            text-transform: uppercase
            color: #FFFFFF
            margin-top: 30px
        &__list
            position: relative !important
        &__list-main
            width: 220px
            height: 280px
            font-weight: 300
            font-size: 12px !important
            line-height: 21px 
            color: $main-color
            list-style-type: square 
        &__list-li
            span
                color: #555555
        &__list-link
            display: absolute !important
            bottom: 50px !important
            transform: translateY(-500%)
            font-weight: 500
            font-size: 14px
            line-height: 14px !important
            text-align: center
            text-decoration-line: underline
            color: $main-color
            &:hover
                color: $main-color
    .footer
        &__info
            width: 250px !important
            height: 160px !important
        &__adress
            font-size: 15px !important
            margin-top: 20px !important
        &__number
            margin-top: 25px !important
            font-size: 15px !important
        &__links
            margin-top: 25px !important
            width: 200px
            margin: 0 auto
            img
                width: 30px
    .modal
        &__close
            position: absolute
            top: -33px !important
            right: 0px !important
            font-size: 69px !important
            line-height: 21px
            color: $main-color
            cursor: pointer 
@media (max-width: 420px)
    .carousel
        .slick-slide
            width: 300px !important
            img
                width: 250px !important
                margin: 0 auto !important
        &__wrapper
            width: 300px !important
    .slick-dots
            display: block
            list-style-type: none
            text-align: center
            padding: 0
            li
                display: inline
                button
                    background-color: $main-color
                    border: none
                    margin-right: 10px
                    margin-top: 10px
                    border-radius: 100%
                    width: 10px
                    height: 10px
                    color: rgba(0, 0, 0, 0)
                #slick-slide-control00, #slick-slide-control01, #slick-slide-control02
                    width: 15px
                    height: 15px
    .catalog
        width: 320px
        margin: 0 auto
        &__header
            margin-bottom: 30px !important
        &__tabs
            margin: 0 !important
            padding: 0 !important
            div
                font-weight: 900
                font-size: 8px !important
                line-height: 52px
    .review
        &__item
            display: flex !important
            flex-direction: column !important
            width: 320px !important
            margin: 0 auto !important
        &__img
            margin: 0 75px
        &__text-info
            text-align: center
            margin-top: 35px
        &__text
            font-size: 12px !important
            margin-bottom: 50px !important
    .carousel
        .slick-dots
            display: block
            list-style-type: none
            text-align: center
            li
                display: inline
                button
                    background-color: $main-color
                    border: none
                    margin-right: 10px
                    margin-top: 10px
                    border-radius: 100%
                    width: 15px
                    height: 15px
                    color: rgba(0, 0, 0, 0)   
                #slick-slide-control00, #slick-slide-control01, #slick-slide-control02
                    width: 5px
                    height: 12px
    .footer
        &__info
            width: 200px !important
            height: 110px !important
        &__adress
            font-size: 10px !important
            margin-top: 10px !important
        &__number
            margin-top: -2px !important
            font-size: 10px !important
        &__links
            margin-top: 20px !important
            width: 200px
            margin: 0 auto
            img
                width: 30px
    .modal
        width: 330px !important
        &__close
            position: absolute
            top: 7px !important
            right: 5px !important
            font-size: 50px !important
            line-height: 21px
            color: $main-color
            cursor: pointer 
    .feed-form
        width: 250px !important
        button
            width: 250px !important
