.projects
    height: 100vh
    padding-top: 120px
    &__title  
        display: block  
        font-size: 19px
        margin-left: 530px
        color: $main-bg-color
        span
            color: #fff 
        &:before
            position: absolute
            top: -70%
            left: 9px
            content: ''  
            width: 50px
            height: 50px
            border-radius: 7px
            z-index: -1
            background-color: $main-bg-color
    &__subtitle
        text-align: center
        font-weight: 700
        font-size: 36px
        line-height: 60px
        margin-top: 20px       
    &__wrapper
        padding-top: 50px
        display: flex
        justify-content: space-between
    &__item
        padding-right: 10px
        img
            transition: all 0.2s
            border-radius: 10px  
            -webkit-box-shadow: 0px 0px 25px 2px rgba(4, 20, 44, 1)
            -moz-box-shadow: 0px 0px 25px 2px rgba(4, 20, 44, 1)
            box-shadow: 0px 0px 25px 2px rgba(4, 20, 44, 1)
            &:hover
                transform: scale(1.05)
        &__text
            margin-top: 40px
            text-align: center
            color: $main-bg-color
            font-weight: 700 
       