.sidepanel
    position: absolute
    top: 335px
    left: 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 200px
    z-index: 3
    &__link
        transition: 0.5s all
        &:hover
            transform: scale(1.2)
                
