.skills
    height: 100vh
    padding-top: 120px
    &__title  
        display: block  
        font-size: 19px
        margin-left: 500px
        color: $main-bg-color
        span
            color: #fff
        &:before
            position: absolute
            top: -70%
            left: 47px
            content: ''  
            width: 50px
            height: 50px
            border-radius: 7px
            z-index: -1
            background-color: $main-bg-color
    &__subtitle
        text-align: center
        font-weight: 700
        font-size: 36px
        line-height: 60px
        margin-top: 20px
    &__wrapper
        padding: 0 10px 0 10px
        margin-top: 85px
        width: 100%
        display: grid
        grid-template-columns: repeat(4, 270px)
        grid-template-rows: repeat(2, 270px)
        grid-auto-rows: 270px
        gap: 13px
    &__item
        position: relative
        border: 1px solid $main-bg-color
        border-radius: 7px
        padding: 30px 30px 25px 30px
        &:nth-child(3)
            padding-top: 37px
        &:nth-child(4)
            padding-top: 37px
        &:nth-child(7)
            padding-top: 53px
        &__title
            margin-top: 20px
            font-weight: 700
            font-size: 14px
            line-height: 21px
        &__text
            font-weight: 500
            font-size: 12px
            line-height: 18px
#warning1, #warning2
    width: 40px
    height: 40px
#warning1
    position: absolute
    top: 210px
    right: 20px
#warning2
    position: absolute
    top: 210px
    right: 20px